@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Patrick+Hand&display=swap');
* {
    font-size: 100%;
    font-family: 'Patrick Hand', cursive;
    scroll-behavior: smooth;
}

.navbar {
    margin: 0px;
    background-color: antiquewhite;
    text-align: center;
    height: 7rem;
    text-decoration: none;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 30px;
}

p,
a {
    font-size: 20px;
}

.nav-links {
    display: inline;
    padding: 1rem;
    margin-top: 2rem;
}

.column {
    float: left;
    width: 30%;
    padding: 1rem;
    margin-top: 1rem;
    margin-left: 1.5px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
    padding: 2rem;
}

.product {
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
}

hr {
    margin-top: 10px;
    margin-bottom: 10px;
}

.cover-image {
    height: 30rem;
    width: 100%;
    background: url(./assets/products.jpg);
    background-repeat: no-repeat;
    background-size: 20rem cover;
    background-position: center center;
}

.card {
    box-sizing: border-box;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 1px;
    text-align: center;
    background-color: antiquewhite;
}

.card img {
    height: 15rem;
    width: 15rem
}

.banner-1 {
    height: 30rem;
    width: 100%;
    background-image: url(./assets/products/banner1.jpg);
    background-repeat: no-repeat;
    background-size: 10rem cover;
    background-position: center center;
    margin-bottom: 1.5rem;
}

.banner-2 {
    height: 30rem;
    width: 100%;
    background-image: url(./assets/products/banner2.jpg);
    background-repeat: no-repeat;
    background-size: 10rem cover;
    background-position: center center;
    margin-bottom: 1.5rem;
    ;
}

.banner-3 {
    height: 30rem;
    width: 100%;
    background-image: url(./assets/products/banner3.jpg);
    background-repeat: no-repeat;
    background-size: 10rem cover;
    background-position: center center;
    margin-bottom: 1.5rem;
}

.banner-4 {
    height: 30rem;
    width: 100%;
    background-image: url(./assets/products/banner4.jpg);
    background-repeat: no-repeat;
    background-size: 10rem cover;
    background-position: center center;
    margin-bottom: 1.5rem;
}

.deal-products h2 {
    font-size: 30px;
}

.column2 {
    float: left;
    width: 20%;
    padding: 1rem;
    margin: 1.5rem;
    text-decoration: none;
}

.column2 button {
    text-decoration: none;
    padding: 0.5rem;
    margin: 0.8rem;
    background-color: white;
}

.more-product1 {
    height: 400px;
    width: 100%;
    background-image: url(./assets/product-imgs/p1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
}

.more-product2 {
    height: 400px;
    width: 100%;
    background-image: url(./assets/product-imgs/p2.jpg);
    background-position: center center;
    background-repeat: no-repeat;
}

.more-product3 {
    height: 400px;
    width: 100%;
    background-image: url(./assets/product-imgs/p3.jpg);
    background-position: center center;
    background-repeat: no-repeat;
}

footer {
    background-color: antiquewhite;
    height: 100px;
    text-align: center;
}

.footer-links {
    display: inline;
    padding: 10px;
    margin: 20px;
    margin-top: 10px;
}


/* oneplus.html css */

.product-column {
    float: left;
    width: 15%;
    padding: 15px;
    margin-top: 10px;
    margin-left: 40px;
    padding-top: 10px;
}

.card-product {
    padding: 10px;
    text-align: center;
}

.ow {
    background-color: #F5F5F5;
    padding: 10px;
}


/* products.html css */

.column-product-info1 {
    float: left;
    width: 40%;
    padding: 15px;
    margin-top: 10px;
    margin-left: 20px;
}

.column-product-info1 img {
    margin-left: 100px;
    width: 450px;
    height: 600px;
}

.column-product-info2 {
    float: right;
    width: 50%;
    padding: 15px;
    margin-top: 10px;
    margin-left: 2px;
}

.column-product-info2 ul li {
    padding: 5px;
}